@font-face {
  font-family: 'Alata';
  src: url("/res/font/Alata-Regular.ttf"); }
html,
body {
  margin: 0;
  width: 100%;
  font-family: 'Alata', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  background: #fdf7f2;
  color: #1e3138; }

strong {
  color: #264653; }

ul {
  list-style-type: square;
  margin-block-start: 0; }

a {
  text-decoration: none;
  color: #2a9d8f;
  transition: color 250ms ease; }
  a:hover, a:focus {
    text-decoration: underline; }
  a:active {
    color: #1b655c; }

.icon {
  display: block;
  width: 2em;
  height: 2em;
  background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.title {
  color: #b85d14;
  font-size: 1.4em; }

.tooltip {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
  position: absolute;
  z-index: -1;
  opacity: 0;
  padding: .2em .5em;
  font-size: .8em;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  border-radius: .25em;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); }

#topbar {
  position: fixed;
  white-space: nowrap;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 10px 10px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); }
  #topbar #topbar-nav-menu {
    text-align: center; }
    #topbar #topbar-nav-menu a {
      color: inherit;
      text-decoration: none; }
      #topbar #topbar-nav-menu a:not(:last-child) span {
        border-right: solid 0.05em #1e3138; }
    #topbar #topbar-nav-menu span {
      padding: 0 2em;
      transition: color 250ms ease; }
      #topbar #topbar-nav-menu span.active, #topbar #topbar-nav-menu span:focus, #topbar #topbar-nav-menu span:hover {
        color: #6f5410; }

#header {
  position: relative;
  width: 100%;
  height: 50vw;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
  #header > * {
    position: absolute;
    left: 0;
    width: 100%; }
  #header #header-back {
    z-index: 0;
    top: 0;
    height: 100%;
    background-image: url("/res/img/header-back.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(4px);
    -webkit-filter: blur(4px); }
  #header #back-wave,
  #header #front-wave {
    bottom: -2vw;
    height: fit-content; }
    #header #back-wave > svg,
    #header #front-wave > svg {
      height: 30vw; }
      #header #back-wave > svg > path,
      #header #front-wave > svg > path {
        fill: currentColor; }
  #header #back-wave {
    z-index: 2;
    color: #d6cbc2; }
  #header #front-wave {
    z-index: 6;
    color: #fdf7f2; }
  #header #header-title {
    position: fixed;
    z-index: 4;
    top: 10vw;
    font-size: 7vw;
    text-align: center;
    color: #fdf7f2; }

#content-flow {
  position: relative;
  z-index: 8;
  padding: 10vw 0;
  width: 100%;
  background: #fdf7f2; }
  #content-flow > * {
    padding: 10vw; }
  #content-flow .anchor {
    margin-bottom: 1em;
    padding: 0;
    padding-left: .5em;
    width: fit-content;
    font-size: 2.5em;
    color: #e76f51;
    border-left: solid .25em; }
  #content-flow #about-me {
    display: flex; }
    #content-flow #about-me .anchor {
      display: none; }
    #content-flow #about-me #profile-picture {
      width: 10em;
      height: 10em;
      margin: auto;
      margin-right: 5vw;
      background-color: #fff;
      background-image: url("/res/img/profile-picture.jpeg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
      border-radius: 6.5vw;
      flex-shrink: 0;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none; }
    #content-flow #about-me #profile-description {
      text-align: justify;
      margin: auto; }
      #content-flow #about-me #profile-description .title {
        display: block;
        padding: 0;
        margin-bottom: 0.12em;
        padding-bottom: 0.12em;
        width: fit-content;
        border-bottom: solid 0.12em; }
      #content-flow #about-me #profile-description #social-links {
        display: flex;
        padding-top: 1vw;
        justify-content: space-around;
        font-size: 1.5em; }
        #content-flow #about-me #profile-description #social-links .icon {
          fill: red;
          transition: filter 250ms ease;
          transition: -webkit-filter 250ms ease; }
          #content-flow #about-me #profile-description #social-links .icon:active, #content-flow #about-me #profile-description #social-links .icon:focus, #content-flow #about-me #profile-description #social-links .icon:hover {
            filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3333333333));
            -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3333333333)); }
  #content-flow #skills {
    display: flex;
    flex-direction: column; }
    #content-flow #skills .skill-row {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2.5em; }
      #content-flow #skills .skill-row .skill {
        padding: 0 1em .5em 1em;
        width: 21vw;
        background: #fff;
        border-radius: 1em;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); }
        #content-flow #skills .skill-row .skill > * {
          display: block; }
        #content-flow #skills .skill-row .skill .icon {
          margin: auto;
          width: 5em;
          height: 5em;
          background-size: 4em; }
        #content-flow #skills .skill-row .skill .title {
          margin-bottom: .25em;
          font-size: 1.2em;
          text-align: center; }
        #content-flow #skills .skill-row .skill .content {
          text-align: justify; }

/*# sourceMappingURL=index.css.map */
