@import 'common.scss';


html,
body {
    margin: 0;
    width: 100%;
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    background: $light-back;
    color: $color1-4;
}

a {
    text-decoration: none;
    color: $color2-5;
}

a:hover,
a:focus {
    text-decoration: underline;
}

a:active {
    color: $color2-4;
    @include interact-transition;
}

.title {
    color: $color4-4;
    font-size: 1.4em;
}

#topbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 0;
    font-size: 1em;
    background: rgba(255, 255, 255, .5);
    border-radius: 0 0 10px 10px;
    @include apple-style-blur;

    #topbar-nav-menu {
        text-align: center;
        // line-height: 1em;

        a {
            @include no-link-style;
        }

        span {
            padding: 0 2em;
        }

        span.active,
        span:focus,
        span:hover {
            @include interact-transition;
            color: $color3-4;
        }

        a:not(:last-child) span {
            border-right: solid .05em $color1-4;
        }
    }
}

#header {
    position: relative;
    width: 100%;
    height: 50vw;
    overflow: hidden;
    @include not-selectable;

    > * {
        position: absolute;
        left: 0;
        width: 100%;
    }

    #header-back {
        z-index: 0;
        top: 0;
        height: 100%;
        @include background-image('/res/img/header-back.png');
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }

    #back-wave,
    #front-wave {
        bottom: -2vw;
        height: fit-content;

        > svg {
            height: 30vw;
            
            > path {
                fill: currentColor;
            }
        }
    }

    #back-wave {
        z-index: 2;
        color: $light-back2;
    }

    #front-wave {
        z-index: 6;
        color: $light-back;
    }

    #header-title {
        position: fixed;
        z-index: 4;
        top: 10vw;
        font-size: 7vw;
        text-align: center;
        color: $light-back;
    }
}

#content-flow {
    position: relative;
    z-index: 8;
    padding: 10vw 0;
    width: 100%;
    background: $light-back;

    > * {
        padding: 10vw;
    }

    .anchor {
        padding: 0 .5em;
        width: fit-content;
        font-size: 2.5em;
        color: $color5-5;
        border: solid .15em;
    }

    #about-me {
        display: flex;

        .anchor {
            display: none;
        }

        #profile-picture {
            width: 10em;
            height: 10em;
            margin: auto;
            margin-right: 5vw;
            background-color: #fff;
            @include background-image('/res/img/profile-picture.jpeg');
            box-shadow: inset 0 0 20px rgba(0, 0, 0, .25);
            border-radius: 6.5vw;
            flex-shrink: 0;
            @include not-selectable;
        }

        #profile-description {
            text-align: justify;
            margin: auto;

            .title {
                display: block;
                padding: 0;
                $margin: .12em;
                margin-bottom: $margin;
                padding-bottom: $margin;
                width: fit-content;
                border-bottom: solid $margin;
            }
        }
    }
}
