@import 'common.scss';


html,
body {
    margin: 0;
    width: 100%;
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    background: $light-back;
    color: $color1-4;
}

strong {
    color: $color1-5;
}

ul {
    list-style-type: square;
    margin-block-start: 0;
}

a {
    text-decoration: none;
    color: $color2-5;
    @include interact-transition(color);

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:active {
        color: $color2-4;
    }
}

.icon {
    display: block;
    width: 2em;
    height: 2em;
    @include background-image('');
}

.title {
    color: $color4-4;
    font-size: 1.4em;
}

.tooltip {
    @include not-selectable;
    cursor: default;
    position: absolute;
    z-index: -1;
    opacity: 0;
    padding: .2em .5em;
    font-size: .8em;
    color: #fff;
    background: rgba(0, 0, 0, .75);
    border-radius: .25em;
    @include apple-style-blur;
    // @include interact-transition(opacity);

    // &.visible {
    //     z-index: 100;
    //     opacity: .8;
    // }
}

.popup-window-filter {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    @include apple-style-blur;
}

.popup {
    position: fixed;
    z-index: 31;
    display: flex;
    top: 50%;
    left: 50%;
    width: 70vw;
    margin: auto;
    padding: 1.2em 0;
    background: rgba(255, 255, 255, .75);
    @include apple-style-blur();
    @include transform(translate(-50%, -50%));

    > * {
        flex-grow: 1;
        flex-basis: 0;

        &:first-child {
            border-right: solid 1px;
        }

        > * {
            &:first-child {
                text-align: center;
                font-size: 1.2em;
            }

            &:last-child {
                margin: 0 2vw;

                ul {
                    list-style: none;
                }
            }
        }
    }
}

#topbar {
    position: fixed;
    white-space: nowrap;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 0;
    font-size: 1em;
    background: rgba(255, 255, 255, .5);
    border-radius: 0 0 10px 10px;
    @include apple-style-blur;

    #topbar-nav-menu {
        text-align: center;
        // line-height: 1em;

        a {
            @include no-link-style;

            &:not(:last-child) span {
                border-right: solid .05em $color1-4;
            }
        }

        span {
            padding: 0 2em;
            @include interact-transition(color);


            &.active,
            &:focus,
            &:hover {
                color: $color3-4;
            }
        }
    }
}

#header {
    position: relative;
    width: 100%;
    height: 50vw;
    overflow: hidden;
    @include not-selectable;

    > * {
        position: absolute;
        left: 0;
        width: 100%;
    }

    #header-back {
        z-index: 0;
        top: 0;
        height: 100%;
        @include background-image('/res/img/header-back.png');
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }

    #back-wave,
    #front-wave {
        bottom: -2vw;
        height: fit-content;

        > svg {
            height: 30vw;
            
            > path {
                fill: currentColor;
            }
        }
    }

    #back-wave {
        z-index: 2;
        color: $light-back2;
    }

    #front-wave {
        z-index: 6;
        color: $light-back;
    }

    #header-title {
        position: fixed;
        z-index: 4;
        top: 10vw;
        font-size: 7vw;
        text-align: center;
        color: $light-back;
    }
}

#content-flow {
    position: relative;
    z-index: 8;
    padding: 10vw 0;
    width: 100%;
    background: $light-back;

    > * {
        padding: 10vw;
    }

    .anchor {
        margin-bottom: 1em;
        padding: 0;
        padding-left: .5em;
        width: fit-content;
        font-size: 2.5em;
        color: $color5-5;
        border-left: solid .25em;
    }

    #about-me {
        display: flex;

        .anchor {
            display: none;
        }

        #profile-picture {
            width: 10em;
            height: 10em;
            margin: auto;
            margin-right: 5vw;
            background-color: #fff;
            @include background-image('/res/img/profile-picture.jpeg');
            box-shadow: inset 0 0 20px rgba(0, 0, 0, .25);
            border-radius: 6.5vw;
            flex-shrink: 0;
            @include not-selectable;
        }

        #profile-description {
            text-align: justify;
            margin: auto;

            .title {
                display: block;
                padding: 0;
                $margin: .12em;
                margin-bottom: $margin;
                padding-bottom: $margin;
                width: fit-content;
                border-bottom: solid $margin;
            }

            #social-links {
                display: flex;
                padding-top: 1vw;
                justify-content: space-around;
                font-size: 1.5em;

                .icon {
                    fill: red;
                    @include interact-transition(filter);
                    @include interact-transition(-webkit-filter);
                
                    &:active,
                    &:focus,
                    &:hover {
                        @include filter(drop-shadow(0 4px 4px rgba(0, 0, 0, 1/3)));
                    }
                }
            }
        }
    }

    #skills {
        display: flex;
        flex-direction: column;

        .skill-row {
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2.5em;

            .skill {
                padding: 0 1em .5em 1em;
                width: 21vw;
                background: #fff;
                border-radius: 1em;
                box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);

                > * {
                    display: block;
                }

                .icon {
                    margin: auto;
                    // margin-bottom: .5em;
                    // padding: .25em;
                    width: 5em;
                    height: 5em;
                    // background-color: $light-back;
                    background-size: 4em;
                    // border: solid .2em $color4-5;
                    // border-radius: 100%;
                    // box-shadow: inset 0 0 30px rgba(0, 0, 0, .3),
                        // 0 4px 4px rgba(0, 0, 0, .35);

                }

                .title {
                    margin-bottom: .25em;
                    font-size: 1.2em;
                    text-align: center;
                }

                .content {
                    text-align: justify;
                }
            }
        }
    }
}
