@import "common.scss";


html,
body {
    margin: 0;
    width: 100%;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    background: $light-back;
    color: $color1-4;
}

strong {
    color: $color1-5;
}

ul {
    list-style-type: square;
    margin-block-start: 0;
}

a {
    text-decoration: none;
    color: $color2-5;
    cursor: pointer;
    @include interact-transition(color);

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:active {
        color: $color2-4;
    }
}

.icon {
    display: block;
    width: 2em;
    height: 2em;
    fill: currentColor;
    @include background-image('');
}

.title {
    color: $color4-4;
    font-size: 1.4em;
}

.popup-window-filter {
    position: fixed;
    z-index: 30;
    display: none;
    overflow-y: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    @include apple-style-blur;

    &.active {
        display: initial;
    }
}

.popup {
    position: fixed;
    z-index: 31;
    display: none;
    top: 50%;
    left: 50%;
    width: 70vw;
    margin: auto;
    padding: 1.2em 0;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 4vw;
    @include apple-style-blur(30px);
    @include transform(translate(-50%, -50%));

    &.active {
        display: flex;
    }

    .icon {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        vertical-align: bottom;
        margin-right: 1em;
    }

    > * {
        flex-grow: 1;
        flex-basis: 0;

        &:first-child {
            border-right: solid 1px;
        }

        > * {
            a {
                @include no-link-style;
            }

            &:first-child {
                margin-bottom: 1em;
                text-align: center;
                font-size: 1.2em;
            }

            &:last-child {
                margin: 0 2vw;

                > div {
                    > a > span {
                        display: block;
                        margin-top: 1em;

                        &.active {
                            color: $color1-6;
                        }
                    }
                }
            }
        }
    }
}

.flip-card {
    cursor: pointer;
    perspective: 1000px;

    > .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 800ms;
        transform-style: preserve-3d;

        > .flip-card-front,
        > .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
        }

        > .flip-card-back {
            transform: rotateY(180deg);
        }
    }

    &:hover {
        > .flip-card-inner {
            transform: rotateY(15deg);
        }
    }

    &.flipped {
        > .flip-card-inner {
            transform: rotateY(180deg);

            &:hover {
                transform: rotateY(165deg);
            }
        }
    }
}

#topbar {
    position: fixed;
    white-space: nowrap;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 0;
    overflow-x: hidden;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 10px 10px;
    @include apple-style-blur;

    #topbar-nav-menu {
        text-align: center;
        // line-height: 1em;

        #options-menu-locale-nav-item {
            display: inline-block;
            padding-right: .1em;
            width: 1.25em;
            height: 1.25em;
            border-right: none;
            background-origin: content-box;
            vertical-align: bottom;
        }

        #options-menu-appearance-nav-item {
            display: inline-block;
            padding-left: .1em;
            width: 1.25em;
            height: 1.25em;
            background-origin: content-box;
            vertical-align: bottom;
        }

        > a {
            @include no-link-style;

            &:not(:last-child) > span {
                border-right: solid .05em $color1-4;
            }

            > span {
                padding: 0 1.5em;
                @include interact-transition(color);
            }

            &.active,
            &:focus,
            &:hover {
                color: $color3-4;
            }
        }
    }
}

#header {
    position: relative;
    width: 100%;
    height: 50vw;
    overflow: hidden;
    @include not-selectable;

    > * {
        position: absolute;
        left: 0;
        width: 100%;
    }

    #header-back {
        z-index: 0;
        top: 0;
        height: 100%;
        @include background-image("/res/img/header-back.png");
        background-size: cover;
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }

    #back-wave,
    #front-wave {
        bottom: -2vw;
        height: fit-content;

        > svg {
            height: 30vw;

            > path {
                fill: currentColor;
            }
        }
    }

    #back-wave {
        z-index: 2;
        color: $light-back2;
    }

    #front-wave {
        z-index: 6;
        color: $light-back;
    }

    #header-title {
        position: fixed;
        z-index: 4;
        top: 10vw;
        font-size: 7vw;
        text-align: center;
        color: $light-back;
    }
}

#content-flow {
    position: relative;
    z-index: 8;
    padding: 10vw 0;
    width: 100%;
    background: $light-back;

    > * {
        padding: 10vw;
    }

    .anchor {
        margin-bottom: 1em;
        padding: 0;
        padding-left: .5em;
        width: fit-content;
        font-size: 2.5em;
        color: $color5-5;
        border-left: solid .25em;
    }

    #about-me > .anchor {
        display: none;
    }

    #about-me > .container {
        display: flex;

        #profile-flip-card {
            width: 10em;
            height: 10em;
            margin: auto;
            margin-right: 5vw;
            flex-shrink: 0;
            @include not-selectable;

            > .flip-card-inner {
                > * {
                    background-color: #fff;
                    box-shadow: inset 0 0 20px rgba(0, 0, 0, .25);
                    border-radius: 2em;

                    &#profile-picture {
                        @include background-image(
                            "/res/img/profile-picture.jpeg"
                        );
                    }

                    &#github-contribution-chart {
                        @include background-image("");
                        background-image: var(
                            --light-github-contribution-chart
                        );
                        background-size: 80%;
                    }
                }
            }
        }

        #profile-description {
            text-align: justify;
            margin: auto;

            .title {
                display: block;
                padding: 0;
                $margin: .12em;
                margin-bottom: $margin;
                padding-bottom: $margin;
                width: fit-content;
                border-bottom: solid $margin;
            }

            #social-links {
                display: flex;
                padding-top: 2vw;
                justify-content: space-around;
                font-size: 1.5em;

                .icon {
                    fill: red;
                    @include interact-transition(filter);
                    @include interact-transition(-webkit-filter);

                    &:active,
                    &:focus,
                    &:hover {
                        @include filter(
                            drop-shadow(0 4px 4px rgba(0, 0, 0, 1/3))
                        );
                    }
                }
            }
        }
    }

    #skills > .container {
        display: flex;
        flex-direction: column;

        .skill-row {
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-bottom: 2.5em;

            .skill {
                padding: 0 1em .5em 1em;
                width: 21vw;
                background: #fff;
                border-radius: 1em;
                box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);

                > * {
                    display: block;
                }

                .icon {
                    margin: auto;
                    // margin-bottom: .5em;
                    // padding: .25em;
                    width: 5em;
                    height: 5em;
                    // background-color: $light-back;
                    background-size: 4em;
                    // border: solid .2em $color4-5;
                    // border-radius: 100%;
                    // box-shadow: inset 0 0 30px rgba(0, 0, 0, .3),
                    // 0 4px 4px rgba(0, 0, 0, .35);
                }

                .title {
                    margin-bottom: .25em;
                    font-size: 1.2em;
                    text-align: center;
                }

                .content {
                    text-align: justify;
                }
            }
        }
    }

    #contact > .container {
        > #contact-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            > * {
                margin-bottom: 1em;

                .icon {
                    display: inline-block;
                    width: 1.3em;
                    height: 1.3em;
                    vertical-align: bottom;
                    margin-right: .6em;
                }
            }
        }

        > #contact-caption {
            margin: 0;
            padding: 1.5em 0;
        }

        > #contact-form {
            > form > div {
                padding: 1em 0;

                &:last-child {
                    text-align: right;
                }

                input, textarea {
                    font-family: $font-family;
                    resize: none;
                    margin: 0;
                    padding: .2em .5em;
                    width: calc(100% - 1em);
                    font-size: 1em;
                    color: $color2-5;
                    outline: none;
                    border: none;
                    border-radius: .5em;
                    box-shadow: inset 0 0 4px rgba(0, 0, 0, .25);
                    background: #fff;
                    @include interact-transition(box-shadow);
                    
                    &::placeholder {
                        color: $color2-6;
                    }

                    &:hover {
                        box-shadow: inset 0 0 4px rgba(0, 0, 0, .5);
                    }

                    &:focus {
                        box-shadow: inset 0 0 4px rgba(0, 0, 0, .75);
                    }
                }

                textarea {
                    min-height: 8em;
                }

                button {
                    outline: none;
                    margin: 0;
                    padding: .6em;
                    font-size: 1em;
                    border: none;
                    border-radius: 100%;
                    cursor: pointer;
                    background: linear-gradient(180deg, #7FA5A0 0%, #B1E5DF 100%);
                    box-shadow: inset 2.73958e-16px 4.47407px 4.47407px rgba(120, 156, 151, .5),
                        inset -2.73958e-16px -4.47407px 4.47407px rgba(184, 238, 232, .5);
                    @include interact-transition(box-shadow);

                    > .icon {
                        width: 1.9em;
                        height: 1.9em;
                    }

                    &:active {
                        padding: .55em;
                        background: linear-gradient(180deg, #ABDED8 0%, #7EA39F 100%);
                        box-shadow: 8.16431e-16px 13.3333px 26.6667px rgba(30, 39, 38, .2575),
                            inset -2.63072e-16px -4.2963px 4.2963px #789B97,
                            inset 2.63072e-16px 4.2963px 4.2963px #B2E6E0;
                    
                        .icon {
                            width: 2em;
                            height: 2em;
                        }
                    }
                }
            }
        }
    }
}
