@import 'common.scss';


html,
body {
    background: $dark-back;
    color: $color3-6;
}

strong {
    color: $color3-5;
}

a {
    color: $color2-6;
}

.dark-invert {
    @include filter(invert(1));
}

.title {
    color: $color4-5;
}

.popup {
    background: rgba(0, 0, 0, .5);

    > * > *:last-child > div > a > span.active {
        color: $color5-6;
    }
}

#topbar {
    background: rgba(0, 0, 0, .5);
    
    #topbar-nav-menu {
        > a.active,
        > a:focus,
        > a:hover {
            color: $color5-6;
        }

        > a:not(:last-child) > span {
            border-right: solid .05em $color3-6;
        }
    }
}

#header {
    #back-wave {
        color: $dark-back2;
    }

    #front-wave {
        color: $dark-back;
    }
}

#content-flow {
    background: $dark-back;

    .anchor {
        color: $color5-6;
    }

    #about-me > .container {
        #profile-flip-card > .flip-card-inner > * {
            background-color: #000;
            box-shadow: inset 0 0 20px #000;

            &#github-contribution-chart {
                background-image: var(--dark-github-contribution-chart);
            }
        }
    }

    #skills > .container {
        .skill-row .skill {
            background: $color1-4;
        }
    }
}
